In [1]:

import pandas as pd

chromosomes = [1, 4, -2, 6, 1, -3, 2, 3]

def fitness(x):
    return x**2 + 1

fitness_values = [fitness(x) for x in chromosomes]

# Displaying the data
df = pd.DataFrame({'Chromosome': chromosomes, 'Fitness Value': fitness_values})
df

   Chromosome  Fitness Value
0           1              2
1           4             17
2          -2              5
3           6             37
4           1              2
5          -3             10
6           2              5
7           3             10

In [2]:
total_fitness = sum(fitness_values)
probabilities = [f/total_fitness for f in fitness_values]

df['Selection Probability'] = probabilities
df

   Chromosome  Fitness Value  Selection Probability
0           1              2               0.022727
1           4             17               0.193182
2          -2              5               0.056818
3           6             37               0.420455
4           1              2               0.022727
5          -3             10               0.113636
6           2              5               0.056818
7           3             10               0.113636

In [5]:
df_sorted = df.sort_values(by='Selection Probability', ascending=False)
top_two_chromosomes = df_sorted.head(2)['Chromosome'].tolist()
top_two_chromosomes

[6, 4]